# Virtual Environment
voice/
venv/
env/

# Environment Variables / Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit specific
.streamlit/
! .streamlit/config.toml

# OS Files
.DS_Store
Thumbs.db